*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #44484b;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


header > .container,
footer > .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #f75988;
    padding: 16px 0;
    display: none;
    
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color:#fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 7px;
}

.container-flex {
    display: flex;
    list-style: none;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

#sobre-a-loja {
    color:#44484b;
    padding: 16px;
}

section {
    color:#44484b;
    padding: 48px 0;
}

section h2 {
    padding: 16px 0;
    max-width: 300px;
    margin-right: 24px;
}

.lista-cursos {
    justify-content: space-between;
    flex-wrap: wrap;
}

.lista-cursos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-cursos li img {
    max-width: 100%;
}

.lista-cursos li h3 {
    margin: 16px 0;
    
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #f75988;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    margin: 8px 0;
    max-width: 140px;
}

button:hover {
    background-color: #e70965
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo select {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}
