time {
    display: block;
    }

h2 {
    margin: 24px;
}

.post {
    margin-bottom: 24px;
}

a.btn button {
    padding: 16px;
    margin-bottom: 16px;
}

button btn  {
    padding: 24px;
}

.btn:hover {
    background-color: rgb(8, 180, 65);
    transition: ease-in;
    }

form {
    padding: 24px;
}

textarea {
    resize: none;
    padding: 24px;
    margin-bottom: 16px;
}

label {
    padding: 8px;
}